@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("/fonts/open-sans-v40-latin-regular.woff2") format("woff2"),
    url("/fonts/open-sans-v40-latin-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("/fonts/open-sans-v40-latin-700.woff2") format("woff2"),
    url("/fonts/open-sans-v40-latin-700.ttf") format("truetype");
}

@layer base {
  html,
  body {
    @apply bg-white text-zinc-900 antialiased;
  }
}

@layer utilities {
  .container {
    @apply mx-auto w-[90%] max-w-[768px];
  }
}
